body{
overflow-y: scroll;
}
#text-return-ws{
height:500px;
}
#label-return-ws{
font-size:16px;
}
.text-method{
font-size:16px;
font-weight:bold;
}
.method-param-name{
display:inline-block;
}

.method-options{
border-top:1px solid #BACDE6;
*background-color:#E1F0F8;
padding:5px;
padding-top: 15px;
}
.method-buttons{
height: 30px;
margin-top: 20px;
border-top: 1px solid #BACDE6;
padding-top: 10px;
}

.row-method{
margin-top:5px;
border: 1px solid #BFE1F3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.ia-method-param-value{
margin-top:5px;
}
.label-param-name{
display: inline-block;
margin-right: 5px;
}
.btn-toggle-params{
width: 20px;
height: 20px;
padding: 0px;
font-weight: bold;
}

.btn-add-param-value,
.btn-add-extra-reques{
height: 30px;
width: 45px;
font-weight: bold;
}
.btn-add-extra-request{
	margin-right:5px;
	margin-top:5px;
}
.close-input-param-value{
margin-left: 5px;
margin-top: 5px;
float: none;
}
.method-name{
padding-right: 5px;
padding-top: 10px;
padding-left: 10px;
margin-bottom: 0px;
padding-bottom: 5px;
background-color: #E1F0F8;
}
textarea.extra-request{
width:97%;
}
.container-extra-request{
padding:0px;
padding-top:2px;
background-color: #EAF3F8;
margin-bottom: -1px;
}
.container-extra-request>.close{
margin:5px;
}
.container-extra-request-name,
.container-extra-request-value{
display:inline-block;
margin-left:5px;
}
.container-extra-request-name > label,
.container-extra-request-value >label{
display:inline-block;
margin-left:5px;
font-size:12px;
margin-right: 10px;
color: #5B96D6;
}
.container-extra-request-name > input,
.container-extra-request-value >input{
width:150px;
margin-top: 5px;
margin-bottom:5px;
}
#resetAllInputs{
margin-bottom: 5px;
}

#label-return-ws{
margin-top:10px;
}
.btn-get-response{
width:70px;
}
.btn-post-response,
.btn-put-response{
width:60px;
}
.label-extra-request{
color: #5B96D6;
}
