<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule methods(.*)$ ./service_methods/service_methods.php?request=$1 [QSA,NC,L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule editor(.*)$ ./editor/editor.php?request=$1 [QSA,NC,L]
</IfModule>